@import "@fortawesome/fontawesome-free/css/all.css";

$black-color: #000;
$grey-light-color: #c7c7c7;
$grey-color: #797979;
$white-color: #fff;
$primary-color: #5138ee;
$primary-bg-color: #f3f1fe;

* {
    color: $black-color;
    font-family: "Nunito", sans-serif;
}

body,
html {
    height: 100%;
}

.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}

.fc-primary {
    color: $primary-color;
}

.w-icon {
    width: 22px;
}

.hide {
    display: none;
}

.addressBar {
    background-color: $white-color;
    width: 100%;
    padding: 0 15px;
    cursor: pointer;
    .addressText {
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0 5px;
        white-space: nowrap;
        max-width: 80%;
    }
    span {
        display: inline-block;
        vertical-align: middle;
    }
}

.tabsContainer {
    padding: 0 15px;
    background-color: $white-color;
    width: 100%;
    .nav {
        border-bottom: 1px solid #ccc;
        .nav-link {
            background: transparent;
            font-weight: bold;
            border: 0;
            color: $black-color;
            &.active {
                color: $primary-color;
                border-bottom: 4px solid $primary-color;
            }
        }
    }
}

.itemsContainer {
    height: calc(100% - 228px);
    overflow-y: auto;
    margin-top: 10px;
    .item {
        border-radius: 20px;
        box-shadow: 0 0 7px 2px rgb(0 0 0 / 10%);
        overflow: hidden;
        .background {
            background-position: center;
            .takeOutOrDeliveryTime {
                background-color: $primary-color;
                border-radius: 20px;
                color: $white-color;
                display: inline-block;
                margin: 20px 0 0 20px;
                padding: 2px 20px;
            }
            .takeOutOrDelivery {
                color: $primary-color;
                background-color: $primary-bg-color;
                border-radius: 20px;
                display: inline-block;
                margin: 10px 0 20px 20px;
                padding: 2px 20px;
            }
        }

        .content {
            padding: 0 20px 10px;
            position: relative;
            .logo {
                background: $white-color;
                border-radius: 50%;
                height: 90px;
                overflow: hidden;
                position: absolute;
                right: 20px;
                top: -70px;
                width: 90px;
                img {
                    height: 100%;
                }
            }
            .priceDiscount {
                .withoutDiscount {
                    padding-right: 6px;
                    strong {
                        color: $primary-color;
                    }
                }
                .withDiscount {
                    text-decoration: line-through;
                    strong {
                        color: $grey-light-color;
                    }
                }
            }
            .metaContainer {
                .walkIcon {
                    font-size: 16px;
                    padding-right: 10px;
                }
                .walkText {
                    font-size: 14px;
                    padding-right: 20px;
                }
                .distanceIcon {
                    font-size: 16px;
                    padding-right: 10px;
                }
                .distanceText {
                    font-size: 14px;
                }
                .stockText {
                    font-size: 14px;
                    padding-right: 6px;
                }
                .stockicon {
                    font-size: 20px;
                }
            }
        }
    }
}

.bottomMenuContainer {
    background-color: $white-color;
    text-align: center;
    width: 100%;
    padding: 20px 15px 20px;
    a {
        display: block;
        font-size: 20px;
        text-decoration: none;
        span {
            display: block;
            font-weight: bold;
            font-size: 15px;
        }
        &.router-link-active {
            i {
                color: $primary-color;
            }
            span {
                color: $primary-color;
            }
        }
    }
}

.storeHeaderBar {
    height: 72px;
    text-align: center;
    .title {
        font-weight: bold;
    }
    .qtyProducts {
        font-size: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $primary-color;
        color: $white-color;
        text-align: center;
        display: block;
        padding: 3px 2px;
        position: absolute;
        top: 15px;
        right: 10px;
    }
    .btnCart {
        cursor: pointer;
    }
}

.storeBackground {
    background-position: center;
    height: 90px;
    position: relative;
    .logo {
        background: $white-color;
        border-radius: 50%;
        height: 90px;
        overflow: hidden;
        position: absolute;
        right: 20px;
        bottom: -45px;
        width: 90px;
        img {
            height: 100%;
        }
    }
}

.listProductsContainer {
    height: calc(100% - 410px);
    margin-bottom: 20px;
    overflow: hidden;
    .categoryTabsContainer {
        padding: 0 15px;
        background-color: $white-color;
        width: 100%;
        overflow-x: auto;
        margin-bottom: 4px;
        .slideContainer {
            width: max-content;
            .nav {
                border-bottom: 1px solid #ccc;
                width: 100%;
                .nav-link {
                    background: transparent;
                    font-weight: bold;
                    border: 0;
                    color: $black-color;
                    float: left;
                    border-bottom: 4px solid transparent;
                    &.active {
                        color: $primary-color;
                        border-bottom: 4px solid $primary-color;
                    }
                }
            }
        }
    }
    .productItemsContainer {
        overflow-y: auto;
        height: calc(100% - 53px);
        .card {
            border-radius: 15px;
            overflow: hidden;
            border: 0;
            box-shadow: 0 0 7px 2px rgb(0 0 0 / 10%);
            .btnAddToCart {
                z-index: 2;
                right: 10px;
                top: 10px;
                font-size: 30px;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                overflow: hidden;
                border: 0;
                background-color: #fff;
                cursor: pointer;
                i {
                    position: relative;
                    color: $primary-color;
                    top: -6px;
                }
            }
            .card-body {
                padding: 10px;
                .priceDiscount {
                    .withoutDiscount {
                        padding-right: 6px;
                        strong {
                            color: $primary-color;
                        }
                    }
                    .withDiscount {
                        text-decoration: line-through;
                        strong {
                            color: $grey-light-color;
                        }
                    }
                }
                .card-title {
                    color: $grey-color;
                }
            }
        }
    }
}

.btn-primary {
    background-color: $primary-color !important;
}

.titleHeaderBar {
    height: 72px;
    text-align: center;
    .title {
        font-weight: bold;
    }
    .backButton {
        position: absolute;
        left: 0;
    }
}

.cartDetailContainer {
    height: calc(100% - 400px);
}

.successMessageContainer {
    height: calc(100% - 200px);
}
