@import "@fortawesome/fontawesome-free/css/all.css";

$black-color: #000;
$grey-light-color: #c7c7c7;
$white-color: #fff;
$primary-color: #5138ee;
$primary-bg-color: #f3f1fe;

* {
    color: $black-color;
    font-family: "Nunito", sans-serif;
}

.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}

.addressBar {
    position: fixed;
    background-color: $white-color;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 15px;
    height: 72px;
    .addressText {
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0 5px;
        white-space: nowrap;
        max-width: 80%;
    }
    span {
        display: inline-block;
        vertical-align: middle;
    }
}

.tabsContainer {
    height: 69px;
    position: fixed;
    left: 0;
    top: 72px;
    padding: 0 15px;
    background-color: $white-color;
    z-index: 1;
    width: 100%;
    .nav {
        border-bottom: 1px solid #ccc;
        .nav-link {
            background: transparent;
            font-weight: bold;
            border: 0;
            color: $black-color;
            &.active {
                color: $primary-color;
                border-bottom: 4px solid $primary-color;
            }
        }
    }
}

.itemsContainer {
    position: relative;
    top: 141px;
    margin-bottom: 20px;
    padding-bottom: 88px;
    .item {
        border-radius: 20px;
        box-shadow: 0 0 7px 2px rgb(0 0 0 / 20%);
        overflow: hidden;
        .background {
            .takeOutOrDeliveryTime {
                background-color: $primary-color;
                border-radius: 20px;
                color: $white-color;
                display: inline-block;
                margin: 20px 0 0 20px;
                padding: 2px 20px;
            }
            .takeOutOrDelivery {
                color: $primary-color;
                background-color: $primary-bg-color;
                border-radius: 20px;
                display: inline-block;
                margin: 10px 0 20px 20px;
                padding: 2px 20px;
            }
        }

        .content {
            padding: 0 20px 10px;
            position: relative;
            .logo {
                background: $white-color;
                border-radius: 50%;
                height: 90px;
                overflow: hidden;
                position: absolute;
                right: 20px;
                top: -70px;
                width: 90px;
                img {
                    height: 100%;
                }
            }
            .priceDiscount {
                .withoutDiscount {
                    padding-right: 6px;
                    strong {
                        color: $primary-color;
                    }
                }
                .withDiscount {
                    text-decoration: line-through;
                    strong {
                        color: $grey-light-color;
                    }
                }
            }
            .metaContainer {
                .walkIcon {
                    font-size: 16px;
                    padding-right: 10px;
                }
                .walkText {
                    font-size: 14px;
                    padding-right: 20px;
                }
                .distanceIcon {
                    font-size: 16px;
                    padding-right: 10px;
                }
                .distanceText {
                    font-size: 14px;
                }
                .stockText {
                    font-size: 14px;
                    padding-right: 6px;
                }
                .stockicon {
                    font-size: 20px;
                }
            }
        }
    }
}

.bottomMenuContainer {
    height: 88px;
    background-color: $white-color;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: 20px 15px 20px;
    a {
        display: block;
        span {
            display: block;
        }
        &.active {
            color: $primary-color;
        }
    }
}
